.day{
	font-family:Acme;
	font-size: 15px;
	color:dark-grey;
	line-height: 30px;
}


.time{
	color:dark-gray;
	width: 250px;
	height: 35px;
	font-size: 28px;
	margin-left:auto; 
	margin-right:auto;
	line-height:40px
}


.daydiv{
	display: inline-block;
	position:relative;
	float: right;
	width: 200px;
	height: 40px;
	margin-left: 10px;
	margin-top: 5px;
}


.timediv{
	display: inline-block;
	position: relative;
	float:right;
	font-family: Acme;
	width: 250px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	margin-top: 5px;
}

.newdiv{
	padding: 0;
	margin: 0;
}