.day{
	font-family:Acme;
	font-size: 20px;
	color:grey;
	line-height: 50px;
}


.time{
	color:gray;
	width: 250px;
	height: 35px;
	font-size: 37px;
	margin-left:auto; 
	margin-right:auto;
	line-height:55px
}


.maindiv{
	display: inline-block;
	position:absolute;
	width: 200px;
	height: 55px;
	margin-left: 66%;
}


.topHeader1{
	/*background-image: radial-gradient(#FFF, rgba(0,0,0,.2));*/
	/*background: linear-gradient(89deg, #F10E11 0%, #2b89fa 100%)@;*/
	display: inline;
	font-family: Acme;
	width: 250px;
	height: 55px;
	line-height: 55px;
	vertical-align: middle;
	margin-left: 46%;
	margin-right: 10px;
	position: absolute;
}

.newdiv{
	padding: 0;
	margin: 0;
}