.container1{
	border:"2px";
	border-radius:"5px";
	background-color:"white";
	padding:'10px';
	margin-top:'20px'; 
	width:"900px"
}

.patientList{
	font-family: Acme;
}

.viewPatientTable{
	margin-top: 20;
	width: 70%;
}